@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: large;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.header-page {
  background-color: rgb(35, 156, 255);
}
.logo {
  max-width: 200px;
  padding: 5px 25px;
}

.back-container {
  text-align: right;
  background-color: #292929;
}
footer {
  background-color: #101010;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: center;
}

.footer-img {
  display: flex;
  justify-content: space-around;
}

.footer-img img {
  width: 33.33%;
  height: 35px;
}

.footer-parrafo p {
  font-size: small;
  height: 60px;
  margin: 0 auto;
  color: #393939;
}

#link-footer {
  font-size: small;
  height: 60px;
  margin: 0 auto;
  color: cadetblue;
}

#link-footer:hover {
  color: #fff;
}

#link-footer:active {
  color: blue;
}

@media screen and (min-height: 648px) {
  footer {
    margin-top: 300px;
  }
}
