.mensajes p{
    

}

.verde p{
    
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    color:  #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: var(--mensaje-usuario-verde);

}

.rojo p{
    background-color: var(--mensaje-usuario-rojo);
    
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    color:  #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.amarillo p{
    background-color: var(--mensaje-usuario-amarillo);
    
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    color:  #FFffFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    align-items: center;
    justify-content: center;

}

